DATABASE_URL="postgresql://USUARIO:PASSWORD@HOST:5432/DATABASE?sslmode=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://USUARIO:PASSWORD@HOST:5432/DATABASE?sslmode=require"